
{% extends "base.html" %}

{% block content%}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">دوارد شوید</h1><br>
            <p class="lead fw-normal text-white-50 mb-0">شاینا</p>
        </div>
    </div>
</header>
<div class="container"
<div class="row">
<center>
<div class="col-10">
<form>
    <div class="mb-3">
      
      <input type="text" class="form-control" name="username" placeholder="نام کاربری">
      
    </div>
    <div class="mb-3">
      
      <input type="password" class="form-control" name="password" placeholder="رمز">
    </div>

    <button type="submit" class="btn btn-primary">ورود</button>
  </form>
  <div/>
  <center/>
  <div/>



{% endblock %}