
{% extends "base.html" %}

{% block content%}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">دوارد شوید</h1><br>
            <p class="lead fw-normal text-white-50 mb-0">شاینا</p>
        </div>
    </div>
</header>


<form>
    <div class="mb-3">
      
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Slo</button>
  </form>



{% endblock %}